@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.buttonLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 16px;
    outline: 0px;
    font-family: INGMe, arial, helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: var(--ing-linkButton-border, 1px solid #1da750);
    border-radius: 8px;
    padding: var(--ing-linkButton-padding, 6px 15px 8px 15px);
    background-color: var(--ing-linkButton-background-color, #1da750);
    color: var(--ing-linkButton-color, #ffffff);
    position: relative;
    box-sizing: border-box;
    font-size: var(--ing-linkButton-fontSize, 19px);
    line-height: var(--ing-linkButton-lineHeight, 28px);
}

.buttonLink:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 0px, rgba(0, 0, 0, 0.24) 0px 8px 8px 0px;
}
